<!DOCTYPE html>
<html>
<head>
    <title>Mi Perfil</title>
</head>
<body>
    <h1>Mi Perfil</h1>
    <p>Nombre: {{user.first_name}} {{user.last_name}}</p>
    <p>Correo electrónico: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Rol: {{user.rol}}</p>
    <a href="/logout">Cerrar Sesión</a>
</body>
</html>
